
.row
  .col.col-md-12
    h2 {{table.title}}
    p.lead {{table.description}}
    br
    .panel.panel-default
      .panel-body
        include:marked ../content/guides/debugger-details.md
.row
  .col.col-md-6
    form.form-horizontal(novalidate, ng-submit="submit(form)", name="form")
      .form-group(ng-repeat="field in fields")
        label.col-sm-4.control-label {{field.title}}
        .col-sm-8
          div(ng-switch="field.type")
            input.form-control(
              ng-switch-when="number"
              type="number",
              ng-model="field.value",
              name="{{field.alias}}",
              required,
              placeholder="{{field.type}}"
            )
            input.form-control(
              ng-switch-default,
              type="text",
              ng-model="field.value",
              name="{{field.alias}}",
              required,
              placeholder="{{field.type}}"
            )
            .checkbox(ng-switch-when="bool")
              label
                input(type="checkbox", ng-model="field.value",
                  name="{{field.alias}}",)
      .form-group
        .col-sm-8.col-sm-offset-4
          button.btn.btn-primary.btn-loading(type="submit", ng-class="{'is-active': loading}") Send
            .btn-loader
              .glyphicon.glyphicon-refresh
  .col.col-sm-6
    div(hljs, hljs-source="(response | json: 2)")

