.reset-password
  h4.reset-password__header Enter new password
  .reset-password__content
    form(ng-submit="submit(form)", name="form", novalidate)
      //.form-group
        input.form-control.form-control-underline(
          name="token",
          type="text",
          ng-model="model.token",
          readonly,
          disabled,
          required,
          placeholder="Reset password token. Sent to email."
        )
      .form-group.text-right
        span.form-control-underline-subtitle(ng-switch="complexity.score", ng-if="form.new_password.$dirty")
          span(ng-switch-when="0") Too short
          span(ng-switch-when="1") Week
          span(ng-switch-when="2") Fair
          span(ng-switch-when="3") Good
          span(ng-switch-when="4") Strong
        input.form-control.form-control-underline(
        name="new_password",
        type="password",
        ng-model="model.password",
        ng-model-options="{allowInvalid: true}",
        minlength="6",
        maxlength="32",
        pattern=".*(?=.*[A-Z]+)(?=.*[a-z]+)(?=.*[\\d]+).*",
        required,
        autocomplete="off",
        placeholder="New password"
        )
        div.form-control-underline-complexity(complexity="complexity", complexity-password="model.password")
        div.form-control-error(ng-messages="form.new_password.$error", ng-if="form.new_password.$dirty || form.$submitted")
          div(ng-message="pattern") {{'validation.errors.invalid_password'|translate}}
          div(ng-message="minlength") {{'validation.errors.password_minlength'|translate}}
      .btn-actions.text-center
        button.btn.btn-submit(type="submit") Submit
