.sign-in
  h4.sign-in__header Sign In
  .sign-in__content
    .alert.alert-danger(ng-if="translateErrorCode(errorCode)") {{translateErrorCode(errorCode)}}
    .alert.alert-danger(ng-if="error") Verify username and password and try again.
    form(ng-submit="submit(form)", name="form", novalidate)
      .form-group
        input.form-control.form-control-underline(
          name="username",
          type="text",
          ng-model="model.username",
          required,
          placeholder="User name"
        )
      .form-group.text-right
        input.form-control.form-control-underline(
          name="password",
          type="password",
          ng-model="model.password",
          required,
          placeholder="Password"
        )
        a.forgotten(ui-sref="reset-password") Forgotten password?
      .btn-actions.text-center
        button.btn.btn-submit(type="submit") Sign in
      .btn-actions.text-center Don't have an account? &nbsp
        a(ui-sref="sign-up") Sign Up
