.container-fluid: .row
  .col-md-4.col-md-offset-4
    .alert.alert-danger(ng-if="error") User already exists
    h2.form-heading Sign up
      span.pull-right.form-caption or &#32;
        a(ui-sref="sign-in") use existing account
    form(ng-submit="submit(form)", name="form", novalidate)
      .form-group(show-errors)
        input.form-control(
          name="username",
          type="text",
          ng-model="model.username",
          pattern="^[a-zA-Z0-9-_\.]+$",
          required,
          placeholder="Username"
        )
        div.form-control-error(ng-messages="form.username.$error", ng-if="form.username.$dirty || form.$submitted")
          div(ng-message="pattern") {{'validation.errors.invalid_username'|translate}}
      .form-group
        input.form-control(
          name="password",
          type="password",
          ng-model="model.password",
          required,
          placeholder="Password"
        )
      .form-group
        input.form-control(
          name="email",
          type="email",
          ng-model="model.email",
          required,
          placeholder="example@example.com"
        )

      .btn-actions
        button.btn.btn-primary(type="submit") Submit
