.info-panel.has-navbar: .container-fluid
  .info-panel-breadcrumb(ncy-breadcrumb)

form.container-fluid(name="form", ng-submit="submit(form)")
  .list-group
    .alert.alert-danger(ng-if="error").ng-cloak
      h4 Error
      p Check you data and <b>try again</b>.
    .row
      .col-md-6
        .list-group-item(ng-repeat="variant in table.variants")
          .row
            .col-sm-6
              b.list-group-item-heading {{variant.title || 'Untitled variant'}}
              br
              span: i.list-group-item-text {{variant.description}}
            .col-sm-1
              div(class="variant-marker variant-color-{{$index % 4}}")
            .col-sm-3.pull-right
              input.form-control(
                type="number",
                ng-if="!$index"
                ng-value="allTraffic",
                readonly="readonly"
                placeholder="Allocation percent"
              )
              input.form-control(
                type="number",
                ng-if="$index"
                ng-model="variant.probability",
                max="{{max($index)}}"
                min="0"
                ng-disabled="table.variantsProbability !== 'percent'",
                placeholder="Allocation percent"
              )

        .list-group-item.traffic-allocation-visual
          div(
            ng-repeat="variant in table.variants",
            style="width: {{$index === 0 ? allTraffic : variant.probability}}%",
            class="variant-visual-item variant-color-{{$index % 4}}"
          )
        .row
          .col-sm-6
            h3.form-control-heading Traffic allocation
        .row
          .col-sm-8
            .btn-group.btn-group-matching
              label.btn.btn-primary-matching(uib-btn-radio="'first'", ng-model="table.variantsProbability") First
              label.btn.btn-primary-matching(uib-btn-radio="'percent'", ng-model="table.variantsProbability") Percent
              label.btn.btn-primary-matching(uib-btn-radio="'random'", ng-model="table.variantsProbability") Random
          .col-sm-4
            button.btn.btn-success.btn-loading.pull-right(type="submit", ng-disabled="saved")
              .btn-loader: .glyphicon.glyphicon-refresh
              | Save
      .col-md-4 Text
