form(ng-submit="save(form)", name="form", novalidate)
  .modal-header
    h3.modal-title Create new column
  .modal-body
    .form-horizontal
      .form-group(show-errors)
        label.col-sm-2.control-label Title
        .col-sm-10
          input.form-control(
            name="title",
            type="text",
            ng-model="field.title",
            required,
            placeholder="eg. Person age..."
          )
      .form-group(show-errors)
        label.col-sm-2.control-label API Field Key
        .col-sm-10
          input.form-control(
            name="alias",
            type="text",
            ng-model="field.alias",
            required,
            pattern="[a-zA-Z\\_\\-]*"
            placeholder="person-age"
          )
          span.help-block Latin key (for API). Use only alphabet characters, dash and underscore. <code>a-z,A-Z,_,-</code>
      .form-group(ng-if="sameKeyColumns.length")
        .col.col-sm-10.col-sm-offset-2
          .alert.alert-warning You have {{sameKeyColumns.length}} column(s) with same API Field Key
      .form-group(show-errors)
        label.col-sm-2.control-label Type
        .col-sm-10
          select.form-control(
            name="type",
            ng-model="field.type",
            required,
          )
            option(value="{{$root.APP.types.number}}") Number
            option(value="{{$root.APP.types.string}}") String
            option(value="{{$root.APP.types.bool}}") Boolean

      .form-group(ng-if="hasDifferentType()")
        .col.col-sm-10.col-sm-offset-2
          .alert.alert-warning Columns with same API Field Key have type <b>{{sameKeyColumnsType}}</b>
            p Setting another type will affect changing in all relative fields and reset values in rules.
            p Set type to <b>{{sameKeyColumnsType}}</b> to prevent this behaviour.
      .form-group(ng-if="isTypeChanged()")
        .col-sm-10.col-sm-offset-2
          .alert.alert-danger Type changing will reset values in all rules in this field

      .form-group
        .col-sm-10.col-sm-offset-2
          .checkbox
            label
              input(type="checkbox", ng-model="isEnablePreset")
              | Enable preset

      .form-group(ng-if="isEnablePreset")
        label.col-sm-2.control-label Preset
        .col-sm-10
          field(type="field.type", condition="field.preset.condition", value="field.preset.value")

      .form-group(ng-if="isPresetChanged()")
        .col-sm-10.col-sm-offset-2
          .alert.alert-danger Preset changing will reset values in all rules in this field
      // .form-group
        label.col-sm-2.control-label Default Value
        .col-sm-10
          input.form-control(
            type="text",
            ng-model="field.defaultValue",
          )

  .modal-footer
    div(ng-if="!field.isDeleted")
      .pull-left(ng-if="isEdit")
        button.btn.btn-danger(type="button", ng-click="delete()") Delete
      button.btn.btn-primary(type='submit') Save
      button.btn.btn-warning(type='button', ng-click='cancel()') Cancel

    button.btn.btn-default(ng-if="field.isDeleted", type="button", ng-click="revert()") Revert
