form(ng-submit="submit(form)", name="form", novalidate)
  .modal-header
    h3.modal-title Add new project
  .modal-body
    .form-horizontal
      .form-group(show-errors)
        label.col-sm-2.control-label Title
        .col-sm-10
          input.form-control(
          name="title",
          type="text",
          ng-model="model.title",
          required,
          placeholder="eg. Credit scoring..."
          )
      .form-group(show-errors)
        label.col-sm-2.control-label Description
        .col-sm-10
          input.form-control(
          name="description",
          type="text",
          ng-model="model.description",
          required,
          placeholder="eg. Tell a few words about the project"
          )
  .modal-footer
    button.btn.btn-primary(type='submit') Save
    button.btn.btn-warning(type='button', ng-click='cancel()') Cancel
