form(ng-submit="save(form)", name="form", novalidate)
  .modal-header
    h3.modal-title Change password
  .modal-body
    .alert.alert-danger(ng-if="error") Invalid old password.
    .form-horizontal
      .form-group
        label.col-sm-3.control-label Old password
        .col-sm-9
          input.form-control(type="password", ng-model="oldPassword", autocomplete="off", required)
      .form-group
        label.col-sm-3.control-label New password
        .col-sm-9
          input.form-control(
            type="password",
            name="newPassword",
            ng-model="newPassword",
            minlength="6",
            maxlength="32",
            pattern=".*(?=.*[A-Z]+)(?=.*[a-z]+)(?=.*[\\d]+).*",
            autocomplete="off",
            required
          )
          div.form-control-error(ng-messages="form.newPassword.$error", ng-if="form.newPassword.$dirty || form.$submitted")
            div(ng-message="pattern") {{'validation.errors.invalid_password'|translate}}
            div(ng-message="minlength") {{'validation.errors.password_minlength'|translate}}
  .modal-footer.clearfix
    .pull-right
      button.btn.btn-warning(type='button', ng-click='$close()') Cancel
      button.btn.btn-primary(type='submit') Change
